<!DOCTYPE html>
<html ng-app="assetApp" ng-controller="assetController">
    <head>
        <title>MC Assets - Browser for Minecraft Asset Files</title>
        <link id="favicon" rel="shortcut icon" type="image/png" href="/favicon.png"/>

        <meta name="description" content="MC Assets is a browser for Minecraft asset files. Explore all Textures, Sounds, Models, Fonts, Shaders, and more from any Minecraft version, without having to extract the files yourself">
        <meta name="keywords" content="minecraft,assets,browser,explorer,textures,sounds,models,shaders,fonts,version,extract,resource">
        <meta name="author" content="inventivetalent">

        <meta property="og:type" content="website">
        <meta property="og:title" content="Minecraft Assets">
        <meta property="og:image" content="https://mcasset.cloud/img/mc-assets-2-512.png">
        <meta property="og:description" content="MC Assets is a browser for Minecraft asset files. Explore all Textures, Sounds, Models, Fonts, Shaders, and more from any Minecraft version, without having to extract the files yourself">

        <meta property="twitter:title" content="Minecraft Assets">
        <meta property="twitter:image" content="https://mcasset.cloud/img/mc-assets-2-512.png">
        <meta property="twitter:description" content="MC Assets is a browser for Minecraft asset files. Explore all Textures, Sounds, Models, Fonts, Shaders, and more from any Minecraft version, without having to extract the files yourself">
        <meta property="twitter:creator" content="@Inventivtalent">
        <meta property="twitter:card" content="summary">

        <meta name="flattr:id" content="okelw0">

        <meta name="robots" content="index, follow">

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

        <meta name=viewport content="width=device-width, initial-scale=1">

        <base href="/">

        <style>
            .list-group-item-file {

            }

            .list-group-item-dir {
                background-color: #f9f9f9;
            }

            .far {
                font-size: 18px;
            }
        </style>

        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
        <script>
            window.addEventListener("load", function () {
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#edeff5",
                            "text": "#838391"
                        },
                        "button": {
                            "background": "#4b81e8"
                        }
                    },
                    "position": "bottom-right"
                })
            });
        </script>
    </head>
    <body ng-cloak>

        <a href="https://github.com/InventivetalentDev/mcasset.cloud" target="_blank">
            <img style="position: absolute; top: 0; right: 0; border: 0;"
                 src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
                 alt="Fork me on GitHub"
                 data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
        </a>

        <nav class="navbar navbar-default navbar-fixed-top" ng-show="asset.version && showNav" style="min-height: 40px; height: 50px;">
            <div class="container" style="height:40px;padding:5px;">
                <ol class="breadcrumb">
                    <a href="#" ng-if="asset.pathElements.length > 0" ng-click="goToPath(getJoinedPath(asset.pathElements.length-1))" style="padding-right: 6px;">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </a>
                    <li class="breadcrumb-item">
                        <a href="#" ng-click="goToPath('/')">
                            {{asset.version}}
                        </a>
                    </li>

                    <li class="breadcrumb-item" ng-repeat="element in asset.pathElements" ng-class="{'active': $last}">
                        <a href="#" ng-click="goToPath(getJoinedPath($index+1))">
                            {{element}}
                        </a>
                    </li>

                    <span class="pull-right" ng-show="assetIndex">{{ assetIndex.length }} Files</span>
                </ol>
            </div>
        </nav>

        <div class="container-fluid" style="margin-bottom: 100px;">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="/img/mc-assets-2-256.png" class="img-responsive">
                        </div>
                        <div class="col-md-10">
                            <h1>Minecraft Assets</h1>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                A Browser for Minecraft Asset Files!<br/>
                                Explore all <strong>Textures, Sounds, Models, Fonts, Shaders, and more</strong> from any Minecraft version, without having to extract the files yourself
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div>
                    <div ng-show="versions.versions.length > 0">
                        <h4>Minecraft Version</h4>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="inputVersion">
                                <strong>Minecraft Version</strong>
                            </label>
                            <div class="col-lg-10">
                                <select id="inputVersion" ng-model="asset.version" class="form-control" ng-change="versionChanged()">
                                    <option value="" disabled selected>Please select a Minecraft Version</option>
                                    <optgroup label="Releases">
                                        <option ng-repeat="version in versions.versions" ng-if="version.type==='release'" value="{{version.id}}">{{version.id + (version.id === versions.latest.release ? " (latest)" : "")}}</option>
                                    </optgroup>
                                    <optgroup label="Snapshots">
                                        <option ng-repeat="version in versions.versions" ng-if="version.type==='snapshot'" value="{{version.id}}">{{version.id + (version.id === versions.latest.snapshot ? " (latest)" : "")}}</option>
                                    </optgroup>

                                    <optgroup label="Old Beta" ng-if="showOldVersions">
                                        <option ng-repeat="version in versions.versions" ng-if="showOldVersions && version.type==='old_beta'">{{version.id}}</option>
                                    </optgroup>
                                    <optgroup label="Old Alpha" ng-if="showOldVersions">
                                        <option ng-repeat="version in versions.versions" ng-if="showOldVersions && version.type==='old_alpha'">{{version.id}}</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <!--
                        <div class="form-group">
                            <div class="col-lg-2">
                            </div>
                            <div class="col-lg-10">
                                <input type="checkbox" ng-model="showOldVersions">
                                <label>Include old versions (beta/alpha)</label>
                            </div>
                        </div>
                        -->
                    </div>
                    <div ng-hide="versions.versions.length > 0">
                        <img src="img/loading.svg">
                        <strong>Loading Versions...</strong>
                    </div>
                </div>
                <br/>
                <br/>
                <div>
                    <div ng-show="asset.version">
                        <h4>Browse Files</h4>
                        <ol class="breadcrumb">
                            <a href="#" ng-if="asset.pathElements.length > 0" ng-click="goToPath(getJoinedPath(asset.pathElements.length-1))" style="padding-right: 6px;">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </a>
                            <li class="breadcrumb-item">
                                <a href="#" ng-click="goToPath('/')">
                                    {{asset.version}}
                                </a>
                            </li>

                            <li class="breadcrumb-item" ng-repeat="element in asset.pathElements" ng-class="{'active': $last}">
                                <a href="#" ng-click="goToPath(getJoinedPath($index+1))">
                                    {{element}}
                                </a>
                            </li>

                            <span class="pull-right" ng-show="assetIndex">{{ assetIndex.length }} Files</span>
                        </ol>

                        <div ng-show="assetIndex.length > 0" style="margin-bottom: 20px;">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="file in assetIndex" ng-class="{'list-group-item-dir': file.type==='dir'}">
                                    <a href="{{file.html_url}}" ng-click="file.type==='dir' ? goToPath(file.path, $event) : openFile(file, $event)">
                                        <i class="far fa-folder" aria-hidden="true" ng-if="file.type==='dir'"></i>
                                        <i class="far fa-file" aria-hidden="true" ng-if="file.type==='file' && !isJsonFile(file.name) && !isImageFile(file.name) && !isAudioFile(file.name)"></i>
                                        <i class="far fa-file-code" aria-hidden="true" ng-if="file.type==='file' && isJsonFile(file.name)"></i>
                                        <i class="far fa-file-image" aria-hidden="true" ng-if="file.type==='file' && isImageFile(file.name)"></i>
                                        <i class="far fa-file-audio" aria-hidden="true" ng-if="file.type==='file' && isAudioFile(file.name)"></i>
                                        &nbsp;
                                        {{file.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                   <span>
                        Download &nbsp;
                        <a href="https://api.github.com/repos/InventivetalentDev/minecraft-assets/zipball/{{asset.version}}" title="Download .zip archive"><i class="fa fa-download" aria-hidden="true"></i> .zip</a>
                        &nbsp;
                        <a href="https://api.github.com/repos/InventivetalentDev/minecraft-assets/tarball/{{asset.version}}" title="Download .tar.gz archive"><i class="fa fa-download" aria-hidden="true"></i> .tar.gz</a>
                   </span>

                            <span class="pull-right"><span class="text-muted">Files last downloaded &amp; extracted on </span>{{versionInfo.downloadTimestamp | date: "medium"}}</span>
                        </div>
                    </div>
                    <div ng-show="asset.version && assetIndex.length <= 0">
                        <img src="/img/loading.svg">
                        <strong>Loading Assets...</strong>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer navbar-fixed-bottom" style="background-color: #f5f5f5; padding-top: 16px; padding-bottom: 16px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <span>Maintained by <a href="https://inventivetalent.org/?utm_source=mcassets&utm_medium=author_link" target="_blank">inventivetalent</a></span>
                        &nbsp;
                        &nbsp;
                        Not affiliated with Minecraft / Mojang AB.
                    </div>
                    <div class="col-sm-6">
                <span class="pull-right">
                    <span class="text-muted" title="{{githubRequestsReset>0 ? 'Resets on ' + (githubRequestsReset*1000 | date : 'medium') : ''}}">{{githubRequestsRemaining}} GitHub requests remaining</span>

                    <span ng-if="githubAccessToken" style="color: green;" title="GitHub authenticated! ({{githubUser.name}})"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span ng-if="githubAccessToken == undefined" style="color: red;" title="GitHub not yet authenticated"><i class="fa fa-times" aria-hidden="true"></i></span>
                </span>
                    </div>
                </div>
            </div>
        </footer>

        <!-- MODALS -->

        <div id="previewModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title">{{previewFile.name}}</h1>
                    </div>

                    <div class="modal-body">
                        <pre ng-if="previewFile._isText()">{{previewFile._content}}</pre>
                        <img class="img-responsive" ng-if="previewFile._isImage()" ng-src="{{previewFile.download_url}}" style="width: 100%; height: 100%; image-rendering: pixelated;">
                        <audio ng-if="previewFile._isAudio()" controls>
                            <source ng-src="{{previewFile.download_url}}" type="{{previewFile._contentType}}">
                        </audio>

                        <div ng-if="previewFile._contentType && !previewFile._isText() && !previewFile._isImage() && !previewFile._isAudio()">
                            <p>
                                <strong>File cannot be displayed.</strong>
                                <br/>
                                Please use the links below to view/download the file directly.
                            </p>
                        </div>
                        <div ng-if="!previewFile._contentType">
                            <img src="/img/loading.svg">
                        </div>
                    </div>
                    <div class="modal-footer">
                <span class="text-muted pull-left">
                    <a target="_blank" href="https://assets.mcasset.cloud/{{asset.version}}/{{previewFile.path}}">{{asset.version}}/{{previewFile.path}}</a>
                </span>
                        <span>
                    <a href="{{previewFile.html_url}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> View on GitHub</a>
                    &nbsp;
                    <a href="{{previewFile.download_url}}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
                </span>
                    </div>
                </div>
            </div>
        </div>

        <div id="githubAuthModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title">GitHub authentication</h1>
                    </div>

                    <div class="modal-body">
                        <p>
                            <strong>Hey! Please authenticate via GitHub to use this website.</strong>
                            <br/>
                            <br/>
                            Non-authenticated requests to the GitHub API are limited to 60 per hour (see the bottom right corner),<br/>
                            please click the button below to authenticate yourself for up to 5,000 requests per hour.
                            <br/>
                            <br/>
                            <span class="text-muted">(This isn't required, but you'll run into problems when browsing a lot of files)</span>
                            <br/>
                        </p>
                        <div class="text-center">
                            <a href="https://auth.mcasset.cloud/github/index.php" class="btn btn-success">Authenticate via GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" integrity="sha384-V6/dyDFv85/V/Ktq3ez5B80/c9ZY7jV9c/319rqwNOz3h9CIPdd2Eve0UQBYMMr/" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js" integrity="sha384-k+Qp/8rZxoiiYGVjOBiZwkEp5yv6clgl2EmwNaE1oUMlfmEYgCWazxf4CyxfZiWG" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js" integrity="sha384-4Rqc4WCYcTgQGo7N/eJANj8VFLYiS0J/XRW6ThAPed/9YJmlNO7iD+ZdbeKi1Eqx" crossorigin="anonymous"></script>
        <script>
            var isCrawler = /bot|googlebot|crawler|spider|robot|crawling/i.test(navigator.userAgent);

            var assetApp = angular.module("assetApp", ["ngRoute", "ngCookies"]);

            assetApp.config(function ($locationProvider) {
                $locationProvider.html5Mode(true);
            });

            assetApp.controller("assetController", ["$scope", "$location", "$http", "$timeout", "$routeParams", "$cookies", "$window", function ($scope, $location, $http, $timeout, $routeParams, $cookies, $window) {
                $scope.asset = {
                    version: undefined,
                    path: "/",
                    pathElements: []
                };
                $scope.versionInfo = {
                    id: "",
                    type: "",
                    url: "",
                    time: "",
                    releaseTime: "",
                    downloadTimestamp: 0
                };
                $scope.assetsLoading = false;
                $scope.assetIndex = [];
                $scope.githubRequestsRemaining = 60;
                $scope.githubRequestsReset = 0;
                $scope.githubAccessToken = undefined;
                $scope.githubUser = undefined;
                $scope.versionChanged = function () {
                    $scope.asset.path = "/";
                    $scope.refreshPath();

                    $http({
                        url: "https://raw.githubusercontent.com/InventivetalentDev/minecraft-assets/" + $scope.asset.version + "/version.json"
                    }).then(function (response) {
                        $scope.versionInfo = response.data;
                    })
                };
                $scope.refreshPath = function (skipUrlUpdate) {
                    var split = $scope.asset.path.split("/");
                    $scope.asset.pathElements = [];
                    for (var i = 0; i < split.length; i++) {
                        if (split[i].length > 0) {// skip empty elements
                            $scope.asset.pathElements.push(split[i]);
                        }
                    }

                    var trimmedPath = $scope.asset.path;
                    if (trimmedPath.endsWith("/")) {
                        trimmedPath = trimmedPath.substring(0, trimmedPath.length - 1);
                    }
                    $scope.assetIndex = [];
                    $scope.githubRequest("https://api.github.com/repos/InventivetalentDev/minecraft-assets/contents" + trimmedPath + "?ref=" + $scope.asset.version + "&per_page=100",
                        function (response) {
                            $scope.assetIndex = response.data;
                        },
                        function (error) {
                        });

                    if (!skipUrlUpdate)
                        $location.path("/" + $scope.asset.version + "/" + trimmedPath);
                };
                $scope.githubRequest = function (url, success, error) {
                    $http({
                        url: url + ($scope.githubAccessToken ? "&access_token=" + atob($scope.githubAccessToken) : "")
                    }).then(function (response) {
                        console.log(response);
                        $scope.githubRequestsRemaining = parseInt(response.headers("X-RateLimit-Remaining"));
                        $scope.githubRequestsReset = parseInt(response.headers("X-RateLimit-Reset"));
                        success(response);
                    }, function (response) {
                        console.log(response);
                        error(response);

                        if (response.status === 401) {
                            if (response.data.message === "Bad credentials") {// OAuth token is no longer valid
                                $cookies.remove("gh_access_token");
                                $scope.githubAccessToken = undefined;
                                if(!isCrawler)
                                    $("#githubAuthModal").modal("show");
                                return;
                            }
                        }
                        if (response.status === 404) {
                            console.log(response.data.message)
                            if (response.data.message.startsWith("No commit found for the ref")) {
                                alert("Assets for this version are not yet generated.\n" +
                                    "Please bug @Inventivtalent on twitter to get it updated ;)");
                                return;
                            }
                        }
                        alert("GitHub Error: " + response.data.message);
                    });
                };
                $scope.goToPath = function (path, $event) {
                    if ($event) {
                        $event.preventDefault();
                    }
                    $scope.asset.path = path;
                    $scope.refreshPath();
                };
                $scope.getJoinedPath = function (untilPos) {
                    var path = "";
                    for (var i = 0; i < Math.min(untilPos, $scope.asset.pathElements.length); i++) {
                        path += "/" + $scope.asset.pathElements[i];
                    }
                    return path;
                };

                $scope.openFile = function (file, $event) {
                    if ($event) {
                        $event.preventDefault();
                    }
                    console.log(file);
                    console.log(file.download_url);
//            window.open(downloadUrl, "_blank");

                    $scope.previewFile = file;
                    $("#previewModal").modal("show");
                    $http({
                        url: file.download_url
                    }).then(function (response) {
                        $scope.previewFile._contentType = response.headers("Content-Type");
                        $scope.previewFile._isImage = function () {
                            return $scope.previewFile._contentType.startsWith('image/')
                        };
                        $scope.previewFile._isText = function () {
                            return $scope.previewFile._contentType.startsWith('text/')
                        };
                        $scope.previewFile._isAudio = function () {
                            return $scope.previewFile._contentType.startsWith('audio/')
                        };

                        $scope.previewFile._content = response.data;

                        // Try to format JSON
                        try {
                            if ($scope.previewFile._content.toString() === "[object Object]") {
                                console.info("File is JSON")
                                $scope.previewFile._content = JSON.stringify($scope.previewFile._content, null, 2);
                            }
                        } catch (e) {
                        }
                    });

                    $location.path("/" + $scope.asset.version + "/" + file.path);
                };

                String.prototype.endsWith = function (suffix) {
                    return this.indexOf(suffix, this.length - suffix.length) !== -1;
                };

                $scope.isJsonFile = function (name) {
                    return name.endsWith(".json");
                };
                $scope.isImageFile = function (name) {
                    return name.endsWith(".png");
                };
                $scope.isAudioFile = function (name) {
                    return name.endsWith(".ogg");
                };

                $scope.previewFile = undefined;

                $scope.showOldVersions = false;
                $scope.versions = {
                    latest: {
                        release: "",
                        snapshot: ""
                    },
                    versions: []
                };

                $scope.showNav = false;
                $window.onscroll = function () {
                    $timeout(function () {
                        if (window.scrollY > 580) {
                            $scope.showNav = true;
                        } else {
                            $scope.showNav = false;
                        }
                    })
                };


                $timeout(function () {
                    // Load versions
                    $http({
                        url: "https://launchermeta.mojang.com/mc/game/version_manifest.json"
                    }).then(function (response) {
                        $scope.versions = response.data;
                        console.info("Latest Version: " + $scope.versions.latest.release + " (release) / " + $scope.versions.latest.snapshot + " (snapshot)")
                    });

                    // GitHub authentication
                    $scope.githubAccessToken = $cookies.get("gh_access_token");
                    if (!$scope.githubAccessToken) {
                        $scope.githubRequestsRemaining = 60;
                        if(!isCrawler)
                            $("#githubAuthModal").modal("show");
                    } else {
                        $scope.githubRequestsRemaining = 5000;
                        $scope.githubRequest("https://api.github.com/user?d=_",
                            function (response) {
                                $scope.githubUser = response.data;
                                console.log($scope.githubUser);
                            }, function (error) {

                            })
                    }
                }, 250);

                function handleHistoryChange(){
                    var path = $location.path();
                    console.log(path);
                    var pathSplit = path.split("\/").filter(function (value) {
                        return value.length > 0;
                    });
                    console.log(pathSplit);
                    if (pathSplit.length > 0) {
                        $scope.asset.version = pathSplit[0];
                        console.log("URL version:" + pathSplit[0]);
                        if (pathSplit.length > 1) {
                            pathSplit.shift();
                            $scope.asset.path = pathSplit.join("/");
                            console.log("URL path:" + $scope.asset.path);

                            var trimmedPath = $scope.asset.path;
                            if (trimmedPath.endsWith("/")) {
                                trimmedPath = trimmedPath.substring(0, trimmedPath.length - 1);
                            }
                            $scope.githubRequest("https://api.github.com/repos/InventivetalentDev/minecraft-assets/contents" + trimmedPath + "?ref=" + $scope.asset.version + "&per_page=10",
                                function (response) {
                                    console.log(response);
                                    if (!Array.isArray(response.data)) {
                                        // Probably a file
                                        $scope.openFile(response.data);

                                        pathSplit.pop();
                                        $scope.asset.path = pathSplit.join("/");
                                    }

                                    $scope.refreshPath(true);
                                },
                                function (error) {
                                });
                        }else{
                            $scope.asset.path = "/";
                            $scope.refreshPath(true);
                        }
                    }
                }

                $timeout(handleHistoryChange, 1000);

                $scope.$on('$locationChangeSuccess', function (event, newUrl, oldUrl) {
                    console.log("$locationChangeSuccess");
                    console.log(oldUrl,"->",newUrl)
                    if (newUrl !== oldUrl) {
                        handleHistoryChange();
                    }
                });
            }]);
        </script>
    </body>
</html>